body{
  background:#0b0f1a;
  color:white;
  font-family:Arial;
  margin:0;
}
.hero{
  text-align:center;
  padding:100px 20px;
}
.btn{
  display:inline-block;
  margin-top:20px;
  background:#1e90ff;
  color:white;
  padding:14px 24px;
  border-radius:10px;
  text-decoration:none;
}
.card{
  background:#151c2e;
  margin:20px;
  padding:20px;
  border-radius:12px;
}
section{
  padding:30px;
}
